<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyh.authoritymanagement.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.yyh.authoritymanagement.beans.User">
    <id column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobilePhone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idCard" jdbcType="VARCHAR" property="idcard" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="nikename" jdbcType="VARCHAR" property="nikename" />
    <collection property="permissions" ofType="com.yyh.authoritymanagement.beans.Permission" column="username" select="selectPermissionsByUsername">
    </collection>
    <collection property="roles" ofType="com.yyh.authoritymanagement.beans.Role" column="username" select="selectRolesByUsername">
    </collection>
  </resultMap>
  <resultMap id="SimpleResultMap" type="com.yyh.authoritymanagement.beans.User">
    <id column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="mobilePhone" jdbcType="VARCHAR" property="mobilephone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="idCard" jdbcType="VARCHAR" property="idcard" />
    <result column="birthday" jdbcType="TIMESTAMP" property="birthday" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="sex" jdbcType="BIT" property="sex" />
    <result column="nikename" jdbcType="VARCHAR" property="nikename" />
  </resultMap>
  <sql id="Base_Column_List">
    username, password, mobilePhone, email, idCard, birthday, realName, sex, nikename
  </sql>
  <select id="selectPermissionsByUsername" parameterType="java.lang.String" resultType="com.yyh.authoritymanagement.beans.Permission">
    SELECT <include refid="com.yyh.authoritymanagement.dao.PermissionMapper.Base_Column_List"/>
    from tb_Permission p
    where p.id in (select permissionId from tb_user_permission up where up.username=#{username,jdbcType=VARCHAR});
  </select>
  <select id="selectRolesByUsername" parameterType="java.lang.String" resultType="com.yyh.authoritymanagement.beans.Role">
    SELECT <include refid="com.yyh.authoritymanagement.dao.RoleMapper.Base_Column_List"/>
    from tb_role r
    where r.id in (select roleId from tb_user_role ur where ur.username=#{username,jdbcType=VARCHAR});
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_user
    where username = #{username,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_user
    where username = #{username,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yyh.authoritymanagement.beans.User">
    insert into tb_user (username, password, mobilePhone, 
      email, idCard, birthday, 
      realName, sex, nikename
      )
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{mobilephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, #{birthday,jdbcType=TIMESTAMP}, 
      #{realname,jdbcType=VARCHAR}, #{sex,jdbcType=BIT}, #{nikename,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyh.authoritymanagement.beans.User">
    insert into tb_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="mobilephone != null">
        mobilePhone,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="idcard != null">
        idCard,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="realname != null">
        realName,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="nikename != null">
        nikename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=BIT},
      </if>
      <if test="nikename != null">
        #{nikename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyh.authoritymanagement.beans.User">
    update tb_user
    <set>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="mobilephone != null">
        mobilePhone = #{mobilephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idCard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=TIMESTAMP},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=BIT},
      </if>
      <if test="nikename != null">
        nikename = #{nikename,jdbcType=VARCHAR},
      </if>
    </set>
    where username = #{username,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyh.authoritymanagement.beans.User">
    update tb_user
    set password = #{password,jdbcType=VARCHAR},
      mobilePhone = #{mobilephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      idCard = #{idcard,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=TIMESTAMP},
      realName = #{realname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=BIT},
      nikename = #{nikename,jdbcType=VARCHAR}
    where username = #{username,jdbcType=VARCHAR}
  </update>

</mapper>